* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

#wrapper {
	width: 73%;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #ccc;
}

img {
	width: 100%;
}

/*-------------------------------INTRO CHUNK-----------------------------*/

.mainCTAbanner {
	width: 100%;
	height: 400px;
	background: #ccc;
	margin-bottom: 2rem;
}

h2.mainCTA {
	font-family: sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	blur: 2px black;
}

.inspiringQuote {
	background-color: #3A8142;
	color: #ffffff;
	font-family: lora italic;
	font-size: 1.5em;
	float: left;
	width: 28%;
	height: 290px;
	margin-left: 2rem;
	
}

.inspiringQuote p {
	width: 85%;
	margin: 2.5em auto;
}

#mainContentHome {
	width: 50%;
	float: right;
	border: 1px solid black;
	margin: 0 2rem 2rem 2rem;
	text-align: center;
	padding: 2.25rem 2rem 1rem 2rem;
}

h2.mainContentHome {
	text-transform: uppercase;
	font-size: 2.25em;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	text-align: center;
	font-family: sans-serif;
	color: black;
	
}

p.firstParagraphHome {
	font-family: lora italic;
	font-size: 1.125em;
	
	text-align: center;
}

#mainContent {
	max-width: 550px;
	margin: 2.25rem auto;
}

h2.mainContent {
	text-transform: uppercase;
	font-size: 2.25em;
	letter-spacing: 1px;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	font-family: sans-serif;
	color: #4D4D4D;
}


h3.mainContent {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 1px;
	padding-bottom: 1em;
	text-align: left;
	font-family: sans-serif;
	color: #3A9142;
}

img.profilePic {
	float: right;
	padding-left: 1em;
	padding-bottom: 1em;
	display: inline;
	width: 40%;
}

img.fullPic {
	width: 100%;
	height: 200px;
	margin-bottom: 2rem;
}

p {
	font-size: 1em;
	line-height: 150%;
	font-family: open sans light;
	padding-bottom: 2em;
}

/*----------------------------END INTRO CHUNK----------------------------*/


main.blog_Article {
	width: 63%;
	float: left;
	background: #71A7A2;
	border: 1px solid white;
	padding: 1em;
}

p.excerpt {
	font-size: 25px;
	text-align: center;
}


/*------------------------------THREE ROWS-------------------------------*/


#three_Rows {
	width: 30%;
	
	float: right;
}

.row {
	width: 90%;
	
	clear: both;
	margin: 1em auto;
	border: 1px white solid;
	overflow: hidden;
}

/*--------------------------END FEATUED CONTENT--------------------------*/

/*-----------------------------SUBMENU BOXES-----------------------------*/

#submenu_Box {
	width: 100%;
	
	overflow: hidden;
	border: 1px solid white;
}

#submenu_Box h2 {
	color: #0A1C28; 
}

main.right {
	width: 50%;
	float: right;
	border: 1px white solid;
	margin-right: 3em;
	padding: .3em;
}

main.left {
	width: 50%;
	float: left;
	border: 1px white solid;
	margin-left: 3em;
	padding: .3em;
}

aside.right {
	width: 33%;
	display: block;
	float: right;
	border: 1px white solid;
	margin-right: 3em;
	padding: .3em;
}

aside.left {
	width: 33%;
	display: block;
	float: left;
	border: 1px white solid;
	margin-left: 3em;
	padding: .3em;
}

aside img {
	width: 100%;
	height: 230px;
	padding: 0;
}

/*--------------------------END SUBMENU BOXES----------------------------*/

/*-----------------------------SUBMENU BOXES-----------------------------*/

#blog_List {
	width: 67%;
	float: left;
}

.snippet {
	width: 100%;
	
	display: block;
	border: 1px white solid;
	overflow: hidden;
}

main.snippet_Right {
	width: 50%;
	float: right;
	border: 1px white solid;
	margin: .7em;
}

aside.snippet_Left {
	width: 40%;
	display: block;
	float: left;
	border: 1px white solid;
	margin: .7em;	
}

aside img {
	height: 230px;
}
/*--------------------------END SUBMENU BOXES----------------------------*/

/*------------------------------MAIN INFO--------------------------------*/

#main_Info {
	width: 96.57%;
	
	color: #F6EFD3;
	clear: both;
	overflow: hidden;
	padding: 1em;
}


#main_Info img {
	float: right;
	width: 50%;
	display: block;
}

/*----------------------------END MAIN INFO-----------------------------*/

/*---------------------------------COL3---------------------------------*/

#col3 {
	width: 100%;
	overflow: hidden;
	border: 1px solid white;
	margin-bottom: 1.5em;
}

.col {
	width: 26%;
	float: left;
	margin: 2rem;
	display: block;
}

.col_Middle {
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 26%;
	float: left;
	margin: 2rem;
	display: block;
}

.col_Middle img {
	margin-bottom: 2rem;
}

.col img {
	margin-bottom: 2rem;
}

.col_Middle h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 2rem;
}

.col h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 2rem;
}

.ctaButton {
	width: 162px;
	height: 36px;
	max-height: 44px;
	background-color: #28B9E6;
	text-align: center;
	color: #ffffff;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-left: 3rem;
	margin-bottom: 2rem;
}

/*-------------------------------END COL3--------------------------------*/

/*--------------------------------FOOTER---------------------------------*/

footer {
	margin-top: 50px;
	background: #42848D;
	height: 200px;
}

/*-------------------------------END FOOTER-------------------------------*/

/*-------------------------------RESPONSIVE-------------------------------*/

@media screen and (max-width: 768px) {

	#wrapper {
		width: 93.75%;
		
		margin: 0 auto;
	}

	#description_Banner {
		width: 96.8%;
		height: auto;
		margin: 0;
		padding: 1em;
	}

	#description_Banner h1 {
		text-align: center;
	}

	#description_Banner p  {
		text-align: center;
		font-size: 1.3em;
		padding: 0;
		margin: 0;
	}

	p {
		font-family: 'Quattrocento Sans', sans-serif;
		line-height: 2em;
		font-size: 1.4em;
	}

	/*-----------------------------SUBMENU BOXES-----------------------------*/

	#submenu_Box {
		margin-top: 0;
	}

	main.right {
		width: 80%;
		height: auto;
		float: none;
		margin: .5em auto;
		border: none;
		border: 1px solid white;
	}

	main.left {
		width: 80%;
		height: auto;
		float: none;
		margin: .5em auto;
		border: none;
		border: 1px solid white;
	}

	aside.right {
		width: 80%;
		float: none;
		margin: 1em auto;
		border: none;
		border: 1px solid white;
	}

	aside.left {
		width: 80%;
		height: auto;
		float: none;
		margin: 1em auto;
		border: none;
		border: 1px solid white;	
	}
	

	
	


/*--------------------------END SUBMENU BOXES----------------------------*/

/*---------------------------------COL3---------------------------------*/

	#col3 {
		width: 100%;
		overflow: hidden;
		border: 1px solid white;
		margin-bottom: 1.5em;
	}

	.col {
		width: 30.635rem;
		float: none;
		margin: 2rem auto;
		display: block;
	}

	.col_Middle {
		margin: 2rem auto;
		width: 30.625rem;
		float: none;
		display: block;
	}

	.col_Middle img {
		margin-bottom: 2rem;
	}

	.col img {
		margin-bottom: 2rem;
	}

	.col_Middle h3 {
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 2rem;
	}

	.col h3 {
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 2rem;
	}

	.ctaButton {
		width: 162px;
		height: 36px;
		max-height: 44px;
		margin: 2rem auto;
	}


/*-------------------------------END COL3--------------------------------*/

/*-------------------------------INTRO CHUNK-----------------------------*/

	.mainCTAbanner {
		width: 100%;
		height: 300px;
		background: #ccc;
		margin-bottom: 0;
	}

	h2.mainCTA {
		font-family: sans-serif;
		text-transform: uppercase;
		color: #ffffff;
		blur: 2px black;
	}

	.inspiringQuote {
		text-align: center;
		float: none;
		width: 100%;
		height: auto;
		margin: 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.inspiringQuote p {
		width: 85%;
		margin: 0 auto;

	}

	#mainContent {
		width: 26.56rem;
		float: none;
		margin: 0 auto;
	}

	#mainContentHome {
		width: 26.56rem;
		float: none;
		margin: 2.25rem auto;
		padding: 0;
	}

	h2.mainContentHome {
		text-transform: uppercase;
		font-size: 2.25em;
		letter-spacing: 1px;
		margin-bottom: 1rem;
		text-align: center;
		font-family: sans-serif;
		color: black;
		
	}

	p.firstParagraphHome {
		font-family: lora italic;
		font-size: 1.125em;
		text-align: center;
	}


/*----------------------------END INTRO CHUNK----------------------------*/


/*-----------------------------BLOG ARTICLE------------------------------*/

	main.blog_Article {
		width: 100%;
		float: left;
		background: #71A7A2;
	}

	main.blog_Article h4 {
		text-align: center;
	}

	p.excerpt {
		font-size: 25px;
		text-align: center;
		padding: .5em;
	}

/*---------------------------END BLOG ARTICLE----------------------------*/

/*------------------------------THREE ROWS-------------------------------*/

	#three_Rows {
		width: 70%;
		background: #8D95A6;
		margin: 0 auto;
		float: none;
	}

	.row {
		width: 100%;
		background: #8D95A6;
		clear: both;
		margin: 20px auto;
		border: 1px white solid;
		overflow: hidden;
	}

	#social {
		width: 100%;
		height: 150px;
		background: #71A7A2;
		margin-top: 0;
	}

	.social_Box {
		width: 8%;
		height: 50px;
		background: white;
		margin: 40px 85px 40px 85px;
		display: block;
		float: left;
	}

/*--------------------------END FEATUED CONTENT--------------------------*/

/*------------------------------MAIN INFO--------------------------------*/

	#main_Info {
		width: 96.57%;
		background: #8D95A6;
		color: #F6EFD3;
		clear: both;
		overflow: hidden;
		padding: .7em;
	}


	#main_Info img {
		float: none;
		width: 98%;
		margin: .3em auto;
	}

/*----------------------------END MAIN INFO-----------------------------*/

	#blog_List {
		width: 100%;
		float: left;
	}

	.snippet {
		width: 100%;
		background: #71A7A2;;
		display: block;
		border: 1px white solid;
		overflow: hidden;
	}

	main.snippet_Right {
		width: 50%;
		float: right;
		border: 1px white solid;
		margin: .7em;
	}

	aside.snippet_Left {
		width: 40%;
		display: block;
		float: left;
		border: 1px white solid;
		margin: .7em;	
	}

	aside img {
		height: 230px;
	}

}






